.our-friends {
    padding: 80px 40px 100px;
    background: $color-light-l;
}

.our-friends__title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    
}

.our-friends__button {
   display: flex;
   margin: 60px auto 0;
}