.icon {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    padding-top: 90px;
    min-width: 60px;
    text-align: center;

}

.icon_pet-food {
    background-image: url("./assets/icons/icon-pet-food.svg");
}

.icon_transportation {
    background-image: url("./assets/icons/icon-transportation.svg");
}

.icon_toys {
    background-image: url("./assets/icons/icon-toys.svg");
}

.icon_bowls-and-cups {
    background-image: url("./assets/icons/icon-bowls-and-cups.svg");
}

.icon_shampoos {
    background-image: url("./assets/icons/icon-shampoos.svg");
}

.icon_vitamins {
    background-image: url("./assets/icons/icon-vitamins.svg");
}

.icon_medicines {
    background-image: url("./assets/icons/icon-medicines.svg");
}

.icon_collars-leashes {
    background-image: url("./assets/icons/icon-collars-leashes.svg");
}

.icon_sleeping-area {
    background-image: url("./assets/icons/icon-sleeping-area.svg");
}