/**
 * Basic typography style for copy text
 */
html {
  font-size: 10px;
}

body {
  @extend %font-prim;
}

h1 {
  @include font($height: 3.5rem, $size: 3.2rem);
  color: $color-primary;
  letter-spacing: 0.06em;
}

h2 {
  @include font($size: 4.4rem, $height: 5.7rem);
  color: $color-light-xl;
}

h3 {
  @include font($size: 3.5rem, $height: 4.5rem);
  color: $color-dark-l;
  margin: 0;
  letter-spacing: 0.059em;

}

h4 {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-dark-l;
  letter-spacing: 0.06em;
  margin: 0;
}
